
<footer class="text-body-secondary py-5 bg-dark">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">
        Blog Spot © 2023
      </p>
      <p class="mb-0">
        <a href="/">Visit the homepage</a>
        
      </p>
    </div>
  </footer>